// ----- FONTS -----

$font-main: 'Barlow';
$font-heading: 'Rock Salt';

// ----- SIZES -----

$font-large: 4.5rem;

// ----- COLORS -----

$bg-light: #f3f2f2;
$bg-blue: #3b4e7e;
$border-grey: #968e8e;
$font-dark: #222222;
$button-grey: #e4e4e4;
$button-green: #349b73;
$button-red: #c73939;
$success: #cce4c3;
$danger: #e49090;