doctype html

html
  head
    title Mountain Calling

    //- Google Fonts
    link(href="https://fonts.googleapis.com/css?family=Barlow:400,700|Rock+Salt" rel="stylesheet")

    //- Custom CSS
    link(rel="stylesheet", type="text/css", href="/css/styles.css")

  body
    
    .landing-container
      //- Left side
      .showcase-img
        img.logo(src="images/mountain-logo.png", alt="Logo")
        h1 Mountain Calling

      //- Right side
      .info
        img(src="images/mountains.png", alt="Mountains")
        h2 The Mountains Are Calling and I Must Go

        p If you're looking for information and reviews about ski resorts throughout the world, you've come to the right place. Mountain Calling allows you to view information about resorts, complete with reviews, pricing, and more, and even to enter your own resorts. Sound good? Then dive right in.

        a.link-button(href="/resorts") View All Resorts